.editable {
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 20px;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

.field {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 400px;
    align-items: center;
}

.shadow {
    background: #eee; /* Цвет фона */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    padding: 10px;
}

.colorpicker {
    margin-top: 20px;
}

.box {
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
}

.box:hover {
    cursor: pointer;
}

/* Fonts */
/* <span class="arial">Arial</span>
<span class="comic">Comic Sans</span>
<span class="georgia">Georgia</span>
<span class="myriad">Myriad Pro</span>
<span class="pt">PT Seris</span>
<span class="times">Time New Roman</span>
<span class="verdana">Verdana</span>
*/
.fontpicker {
    font-size: 18px;
}

.font-box {
    background-color: #ddd;
}

.font-box:hover {
    opacity: 0.8;
    cursor: pointer;
}
.arial {
    font-family: "Arial", serif;
}

.comic {
    font-family: "Comic Sans", sans-serif;
}

.georgia {
    font-family: "Georgia", serif;
}

.myriad {
    font-family: "Myriad Pro", serif;
}
.pt {
    font-family: "PT Seris", serif;
}

.times {
    font-family: "Times New Roman", serif;
}

.verdana {
    font-family: "Verdana",serif;
}


/* Font Styles */
.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

/* Colors */
.color-box:hover { opacity: 0.8 }

.color-1 { background-color: #620704; }
.color-2 { background-color: #656600; }
.color-3 { background-color: #1a6500; }
.color-4 { background-color: #1a6666; }
.color-5 { background-color: #030469; }
.color-6 { background-color: #620869; }
.color-7 { background-color: #666666; }
.color-8 { background-color: #3c3c3c; }
.color-9 { background-color: #603c30; }
.color-10 { background-color: #624532; }
.color-11 { background-color: #644F36; }
.color-12 { background-color: #65633A; }
.color-13 { background-color: #50593C; }
.color-14 { background-color: #44553D; }
.color-15 { background-color: #37513E; }
.color-16 { background-color: #355251; }
.color-17 { background-color: #77CFFA; }
.color-18 { background-color: #334157; }
.color-19 { background-color: #353A51; }
.color-20 { background-color: #36344C; }
.color-21 { background-color: #41364D; }
.color-22 { background-color: #4A384D; }
.color-23 { background-color: #603E4F; }
.color-24 { background-color: #5F3D3F; }
